* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    background-size: 100% 100vh;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-image: radial-gradient(farthest-corner at 50% 50%, #080400, #a15305);
    padding: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.event-card {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.event-card img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.event-card h3 {
    margin-top: 0;
}

.event-card p {
    font-size: 0.9em;
    color: #666;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}

/* Responsive design */
@media (max-width: 768px) {
    .event-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .event-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}